.grid-icon {
  background: no-repeat
    url(https://ssl.gstatic.com/docs/doclist/images/folder_grid_shared-dd6e1d6bc653b51bf5ed81010a52160d.png)
    0 0;
  background-size: 110px 2063px;
  width: 110px;
  height: 85px;
}

.container {
  margin: 40px;
  box-sizing: border-box;

  .row {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
  }

  .row > div {
    margin: 20px 45px;
  }

  .grid-title {
    text-align: center;
  }
}
